@using DoctorOffice.Models;
@{
  Layout = "_Layout";
}
<title>Patient Details</title>
<div class="container">
  <h1>Patient: @Model["patient"].GetName() | @Model["patient"].GetBirthDate()</h1>
  <h5 class="text-muted"><em>Add existing doctor to Patient</em></h5>
  <hr />
  @if (@Model["patientDoctors"].Count != 0)
  {
    <h4>Add a doctor to this patient:</h4>
    <form action='/patients/@Model["patient"].GetId()/doctors/new' method='post'>
      <label for='doctor-id'>Select a doctor</label>
      <select id='doctor-id' name='doctor-id' type='text'>
        @foreach (var doctor in @Model["allDoctors"])
        {
          <option value='@doctor.GetId()'>@doctor.GetName()</option>
        }
      </select>
      <button type='submit' class="btn-info">Add</button>
    </form>
    <hr>

    <h4>Current Doctors:</h4>
    <ul>
    @foreach (Doctor doctor in @Model["patientDoctors"])
    {
      <li><span class="bullet">@doctor.GetName()</span><a class="btn-info edit-delete" href="/doctors/@doctor.GetId()/update">Edit</a> | <a class="btn-info edit-delete" href="/doctors/@doctor.GetId()/delete">Delete</a></li>
    }
    </ul>
  }
</div>
